
table{
  width: 100%;

  th{
    text-align: left;
  }

  tr{
    text-align: left;

      img{
        width: 150px;
      }
    }

  .image-container{
    width: 180px;
  }

  .product-name{
    width: 25%;
  }

  .product-quantity{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .action-btn:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
}

.payment-container{
  display: flex;
  flex-direction: column;
  float: right;
  margin: 10px 0;

  .payment-btn{
    display: flex;
    justify-content: flex-end;
  }
}
